{% if settings.cart_type == 'drawer' %}
  <div id="CartDrawer" class="drawer drawer--right">
    <form action="{{ routes.cart_url }}" method="post" novalidate class="drawer__contents">
      <div class="drawer__fixed-header">
        <div class="drawer__header appear-animation appear-delay-1">
          <div class="h2 drawer__title">{{ 'cart.general.title' | t }}</div>
          <div class="drawe
