
{% unless has_logo %}
  {% style %}
    /* prevent text-only logo from breaking mobile nav */
    .header-item--logo {
      max-width: 60%;
    }
  {% endstyle %}
  {% if template == 'index' %}
    <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
  {% else %}
    <div class="h1 site-header__logo" itemscope itemtype="http://schema.org/Organization">
  {% endif %}
  <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-link">
    {{ shop.name }}
  </a>
  {% if template == 'index' %}
    </h1>
  {% else %}
    </div>
  {% endif %}
{% endunless %}
